@import "tailwindcss";

:root {
  --background: linear-gradient(90deg, #00885F 0%, #000000 53%, #000000 76%, #007B56 100%);
  --foreground: #0e0f0e;
  --header-background: linear-gradient(90deg,  #2FCA50 0%, #009D69 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.container-header {
  display: flex;
  max-width: 957px;
  height: 92px;
  margin:  70px 260px;
  padding: 18px;
  background: var(--header-background);
  color: aliceblue;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

.navlinks {
  display: flex;
  gap: 30px;
  margin-left: 60px;
  align-items: center;
  font-size: 27px;
  font-weight: 700;
  color: #343434;
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlinks::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--accent);
  transition: width 0.3s ease;
}

/* When hovered or active */
.navlink:hover,
.navlink.active {
  color: var(--accent);
}

.navlink:hover::after,
.navlink.active::after {
  width: 100%;
}

.radulogo {
  width: 80px;
  height: auto;
  margin: 5px auto;
}

.smallrectangle {
  width: 5px;
  height: 53px;
  background-color: #434343;
  margin: 2px 12px;
}

.radughimp {
  font-size: 20px;
  font-weight: bolder;
  max-width: 100px;
  background: linear-gradient(180deg, #000000 0%, #00ab1a 100%);
  -webkit-background-clip: text;   /* for Chrome, Safari */
  background-clip: text;           /* for Firefox (partially supported) */
  color: transparent;              /* hides solid color so gradient shows */
}

.home-button {
  background: linear-gradient(90deg, #00310B 0%, #009721 100%);
  -webkit-background-clip: text;   /* for Chrome, Safari */
  background-clip: text;           /* for Firefox (partially supported) */
  color: transparent;              /* hides solid color so gradient shows */
  font-weight: 700;
  font-size: 30;
}
